*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: skyblue;
  color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.logo {
  color: white;
  align-self: flex-start;
  padding: 10px 25px;
}

form {
  display: flex;
  align-items: center;
  gap: 5px;
}

form .userInput,
form button {
  padding: 9px;
  border: none;
  border-radius: 5px;
}

form button {
  border: 1px solid gray;
}

.loading {
  display: block;
  visibility: hidden;
  background-color: green;
  outline: 10px solid green;
  padding: 0px;
  border-radius: 20px;
  margin-left: 10px;
  width: 1px;
  height: 1px;
  transition: outline 0.3s;
}

.section-1 {
  background-color: aliceblue;
  width: 100%;
  height: fit-content;
  padding: 30px calc(100vw / 5);
  margin: 20px 0px;

  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1.4fr 1fr;
}

.section-1 .cityName {
  font-size: 2em;
}

.section-1 .currentWeatherDescription {
  grid-row: 2;
  width: 25rem;
  font-weight: 100;
  margin-top: 10px;
}

.section-1 .currentWeather {
  grid-row: 1/-1;
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.currentWeather .icon {
  width: 30px;
  display: block;
  margin-bottom: 2px;
}

.currentWeather .currentWeather-main {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  gap: 10px;
}

.currentWeather-main .icon {
  width: 70px;
}

.currentWeather-main .feelsLike {
  font-size: 40px;
}

.currentWeather-main svg {
  width: 70px;
}

.section-2 {
  background-color: rgba(240, 248, 255, 0.685);
  border-radius: 5px;
  padding: 30px;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-2 .navButton {
  background-color: aliceblue;
  padding: 5px 9px;
  border-radius: 20px;
  margin: 5px;
}

.section-2 .weatherCardsContainer {
  overflow: hidden;
}

.section-2 .weatherCards {
  display: flex;
  gap: 18px;
  /* overflow: hidden; */
  /* width: fit-content; */
}

.section-2 .weatherCards .card {
  flex: 0 0 max-content;
  padding: 20px;
  width: max-content;
  background-color: aliceblue;
  border-radius: 5px;

  display: grid;
  justify-items: center;
}

.card .weatherCondition {
  width: 40px;
  height: 40px;
}

.card .icon {
  width: 20px;
}
